<!DOCTYPE html>
<html>
<head>
  <title>Chato</title>
  <%= stylesheet_link_tag    "chato/application", media: "all" %>
  <%= javascript_include_tag "chato/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
